<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCX2JWVIUny5UlVfoolZdNKEkF162kQ2V8</string>
	<key>GCM_SENDER_ID</key>
	<string>193878597278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecxar.tradeapp</string>
	<key>PROJECT_ID</key>
	<string>roof-2333</string>
	<key>STORAGE_BUCKET</key>
	<string>roof-2333.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193878597278:ios:5142b8fd9ea2b340a5258f</string>
</dict>
</plist>